@import url('https://fonts.cdnfonts.com/css/sf-pro-display'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display';
    font-style: normal;
}

/*HEADER*/
header{
    left: 0;
    top: 0;
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4% 7%;
}

.button-header{
    width: 11.25rem;
    height: 4rem;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    font-weight: none;
    font-size: 1.125rem;
    line-height: 1.5rem;
    background: #232340;
}

.burger-icon{
    display: none;
}

#nav-header{
    list-style-type: none;
}

#nav-header li{
    display: inline;
}

#nav-header li a{
    display: inline-block;
    text-decoration: none;
    padding: 2rem;
    color: #8B8B8B;
}

#nav-header a:hover{
    color: #5468E7;
}

.blue{
    background-color: #5468E7;
}
/* FIM HEADER */


/* MAIN */
main{
    background-color: #fff;
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin: 0 12%;
}

#text-column > h1 {
    margin-top: 2rem;
    font-weight: 43.75rem;
    font-size: 5.25rem;
    line-height: 6.25rem;
    letter-spacing: -0.063rem;
    color: #232340;
    margin-bottom: 4rem;
}

#text-column > p {
    font-weight: 25rem;
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 3rem;
    color: #606060;
}

main > #text-column{
    flex: 0.66;
}

main > figure{
    flex: 1.2;

}

main > figure > img{
    width: 112.5%;
    display: block;
}

/*FIM MAIN*/

/*PAGE 2 (WHO-WE-ARE)*/


.part-2{
    background-color: #232340;
    padding: 10% 9%;
}

#who-we-are{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#who-we-are > .leftCol{
    justify-self: flex-start;
    align-self: flex-start;
    flex: 1;
}


.dropdown{
    display: none;
}

#who-we-are > .centerCol{
    flex: 4.5;
}

#who-we-are > .rightCol{
    flex: 1.5;
    justify-self: flex-end;
    align-self: center;
}

.mini-logo{
    width: 1.5rem;
    height: 1.5rem;
}

.left-right{
    width: 64px;
    height: 64px;
}

.p-title{
    color: #FFFFFF;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
}

#who-we-are > .centerCol > h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}


#body-who-we-are{
    margin-top: 8%;
    
}


.nav-figure{
    margin-bottom: 10%;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
}

.nav-figure > figure > img{
    width: 100%;
    justify-self: flex-end;
    align-items: flex-start;
    display: block;
}

#nav-who-we-are{
    list-style-type: none;
    padding-top: 36px;
    width: 42px;
    height: 24px;
}

#nav-who-we-are li{
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #8B8B8B;
    padding-bottom: 6.5rem;
    display: block;
}

#nav-who-we-are-nav li:hover{
    color: #FFFFFF;
}



.leg-bbranding{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.legend{
    width: 468px;
    height: 320px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

.legend > h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.legend > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;
}

.legend > button{
    background: #5468E7;
    border-radius: 8px;
    width: 11.25rem;
    height: 4rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: none;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.bbranding{
    width: 402px;
    height: 402px;
    display: flex;
    flex-flow: column wrap;
}

.bbranding > h1{
    font-weight: 600;
    font-size: 200px;
    line-height: 239px;
    text-align: center;
    color: #FFFFFF;
}

.bbranding > h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

/*FIMPAGE 2 (WHO-WE-ARE)*/

/*PAGE-3*/

.part-3{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
    padding: 10% 9%;
}

#what-we-do {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
   
}

.center > h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #232340;

    max-width: 668px;
    max-height: 144px;
}

.p-what-we-do{
    display: flex;
    flex-flow: row;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #5468E7;
}

.items-02 > p{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #5468E7;
}

.items-02 > img{
    width: 128px;
    height: 128px;
    margin-bottom: 1.7rem;
}

.items-02{
    background: #FFFFFF;
    border-radius: 48px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 293px;
    height: 480px;
}

#items-02-bg-destached{
    width: 293px;
    height: 560px;
    background: #5468E7;
}

#items-02-p-destached{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
}

.body-what-we-do{
    padding: 10% 13%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*FIM PAGE-3*/







/* PART-5 */

.mini-logo{
    width: 1rem;/*APAGAR*/
    height: 1rem;
}

#we-are-hiring{
    display: block;
    margin-top: 6vh;
}

.body-we-are-hiring{
    margin-top: 6vh;
}


.part-5{
    background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10%;
}

#we-are-hiring{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 30%;
    height: 25%;
}

.body-we-are-hiring{
    display: flex;
    flex-flow: column wrap;
}

.p-what-we-do{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #5468E7;
    margin-bottom: 2vh;
}

.center-part-5 > h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 110px;
    line-height: 131px;
    letter-spacing: -1.2px;
    color: #232340;
    margin-bottom: 4vh;
}

.about{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #606060;
    margin-bottom: 5vh;
}

#flecha-rosa{
    width: 158px;
    height: 48px;
}




.items{
    width: 40vw;
    height: 25vh;
    padding-left: 3vw;
    margin-bottom: 2vh;

    background-color: #fff;
    border-radius: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

.items > h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #232340;
}

.items > p{
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;    
}

.seta-preta-branca{
    width: 2rem;
    height: 2rem;
}

#item-bg-destacado{
    background: #232340;
}
#item-h3-destacado{
    color: #FFFFFF;
}
#item-p-destacado{
    color: #8B8B8B;
}


/* FIM PART-5 */


/* PART-6 */

#body-page-6{
    background-color: #5468E7;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 40px;
    display: grid;
    grid-template-areas: "area1 area1"
                         "area2 area3";
    margin: 0 5%;
}

#area1{
    grid-area: area1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 14vh 25vw;
}

#area1 > h3{
    padding-top: -0.5rem;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

#area2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: area2;
    padding: 22vh 14vw;
}

#area2 > button{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #5468E7;
    background: #FFFFFF;
    border-radius: 8px;
    display: none;
}


#area2 > h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}


#area3{
    grid-area: area3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-between;

    padding: 22vh 3vw;
    padding-right: 8vw;
}

#area3 > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

#area3 > div > h3{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* or 125% */
    letter-spacing: -0.5px;

    /* color/white */

    color: #FFFFFF;
}

#area3 > div > img{
    
}

#logo-pink{
}

.SpeachBubble{
    width: 103px;
    height: 103px;
}

#area1 > .SpeachBubble{
    display:none;
}

#tag-line{
}

#body-page-6 > hr{
    display: none;
}

/* FIM PART-6 */




/* footer */
footer{
    max-width: 100vw;
    margin: 0 8vw;
}


.footer-up{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10vh 23vw;
}

#footer-logo{
    width: 191px;
    height: 48px;
}


.footer-up > p{
    padding-top: 5vh;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #606060;
}

#nav-footer > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

#nav-footer li{
    display: inline-block;
    
}
#nav-footer li a{
    padding-top: 5vh;
    padding-left: 2.7vw;
    padding-right: 2.7vw;
    padding-bottom: 3vh;
    display: inline-block;
    text-decoration: none;
    
    color: #8B8B8B;
}

#nav-footer li a:hover{
    color: #5468E7;
    
}

footer > hr{
    background: #D8D8D8;
    margin-bottom: 2vh; 
    margin-top: -9vh;
}

#social-media > p{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #ADADAD;
}

#social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#follow-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#follow-us > img{
    padding: 20px;
}



#follow-us > p{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #5468E7; 
    padding: 0 20px;
}

#footer-dropdown{
    width: 311px;
    height: 48px;
    display: none;
}

#footer-p-mobile{
    display: none;
}

/* fim footer */






@media (max-width:685px){

    /*HEADER*/

    header > .button-header{
        display: none;
    }
    .burger-icon{
        display: block;
    }
    #nav-header{
        display: none;
    }
    header > img{
        margin-bottom: 8%;
        margin-left: -8%;
        margin-right: -8%;
    }
    header{
        padding-top: 13%;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 0;
    }

    /*FIM HEADER*/

    /*MAIN*/

    main{
        padding:0 9%;
        margin: 0 auto;
        flex-direction: column;
    }
    #text-column > h1 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        /* or 117% */

        letter-spacing: -0.5px;
        margin-bottom: 2rem;
    }
    #text-column > p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 1.5rem;
    }

    #text-column > button{
        width: 160px;
        height: 56px;
    }

    main > figure > img{
        width: 112.5%;
        display: block;
    }

    /*FIM MAIN*/

    /*PAGE-2*/

    .rightCol{
        display: flex;
        flex-direction: row;
    }

    .part-2{
        padding: 60px 10%;
        padding: 0;
        padding-top: 60px;
    }

    .dropdown{
        display: block;
    }

    .mini-logo{
        display: none;
    }

    #who-we-are{
        padding:0 10%;
        display: flex;
        flex-flow: column wrap;

    }
    
    .left-right{
        width: 48px;
        height: 48px;
    }

    #who-we-are > .centerCol > h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;
        padding-top: 8px;
        padding-right: 50px;
        padding-bottom: 40px;
    }
    
    .p-title{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

    #nav-who-we-are{
        display: none;
    }
    #body-who-we-are{
        margin: 0 auto;
        justify-content: center;
    }
    .legend{
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .bbranding{
        margin: 0;
        padding: 0;
    }
    
    /*FIM PART-2*/

    /*PART-3*/

    .page-3{
        background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
    }

    /*CABEÇALHO AQUI*/
    .center > h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;

        margin: 2vh 0;
    }
    
    .center > p{
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }

        
    .items-02 > p{
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .items-02 > img{
        width: 91.02px;
        height: 91.02px;
    }

    .items-02{
        width: 311px;
        height: 190px;
        border-radius: 32px;

        /*
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 4rem 4rem;*/
    }

    #items-02-bg-destached{
        width: 311px;
        height: 190px;
        background: #5468E7;
    }

    #items-02-p-destached{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }

    .body-what-we-do{
        padding: 10% 13%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*FIM PAGE-3*/


    /*PART-5*/

    .mini-logo{
        display: none;
    }

    #we-are-hiring{
        display: block;
        margin-top: 6vh;
    }

    #we-are-hiring{
        display: flex;
        flex-flow: row wrap;
        width: auto;
        height: 15%;
        margin-bottom: 20%;
    }

    .center-part-5 > h2{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.4px;
        margin-bottom: 1vh;
    }

    .center-part-5 > p{
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 2vh;
    }

    .part-5{
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
    }

    .items{
        width: 311px;
        height: 175px;
        padding-left: 8vw;
        border-radius: 24px;
    }

    .items > img{
        width: 1rem;
        height: 1rem;
    }

    .items > h3{
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.2px;
    }

    .items > p{
        font-weight: 400;
        font-size: 12.8px;
        line-height: 23px;
        margin-bottom: 1vh;

    }
    
    /*FIM PART-5*/



    /*PART-6*/

    #body-page-6{
        background-color: #5468E7;
        max-width: 100vw;
        max-height: 100vh;
        border-radius: 24px;
        display: flex;
        flex-direction: column;
    }
    
    #area1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    #area1 > h3{
        padding-top: -0.5rem;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */

        text-align: center;
        color: #FFFFFF;
    }
    
    #area2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #area2 > button{
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #5468E7;
        background: #FFFFFF;
        border-radius: 8px;
        display: block;

        width: 263px;
        height: 56px;
    }
    
    
    #area2 > h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        /* or 125% */

        text-align: center;
        letter-spacing: -0.5px;
        color: #FFFFFF;
    }
    
    
    #area3{
        display: none;
    }

    #logo-pink{
        display: none;
    }
    
    .SpeachBubble{
        width: 103px;
        height: 103px;
    }
    
    #area1 > .SpeachBubble{
        display:block;
    }
    
    #tag-line{
    }
    
    #body-page-6 > hr{
        display: block;
        mix-blend-mode: normal;
        opacity: 0.2;
        /* color/white */

        border: 0.711111px solid #FFFFFF;
    }
    
    /*FIM PART-6*/

     /*FOOTER*/
     footer{
        margin: 0 auto;
    }
    .footer-up{
        margin: 0 auto;
        padding: 0 10vw;
        margin-top: 7vh;
    }

    
    #footer-logo{
        width: 136px;
        height: 35px;
    }

    .footer-up > p{
        padding-top: 5vh;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        color: #ADADAD;

        padding-bottom: 4vh;
    }

    #footer-p-desktop{
        display: none;
    }

    #footer-p-mobile{
        display: block;
    }
    

    #nav-footer{
        display: none;
    }

    #social-media{
        margin: 0 auto;
        padding: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 5vh;
    }
    
    #follow-us > img{
        
        border: 1px solid #D8D8D8;
        border-radius: 100%;
        margin-bottom: 3vh;
        margin-right: 2vw;
    }

    footer > hr{
        display: none;
    }

    #follow-us > p{
        display: none;
    }
    #footer-dropdown{
        display: block;
        margin-bottom: 3vh;
    }

    /*FIM FOOTER*/

    
}